name: iOS Build

on:
  pull_request:
    branches: [ develop, main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - name: Set up Xcode
        run: sudo xcode-select -switch /Applications/Xcode_16.4.app
      - name: Generate project
        run: tuist generate --no-open
      - name: Build
        run: xcodebuild -scheme iOS-FakeNFT-Extended -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16'
